.chatty-text-logo {
    font-size: 48px;
    font-weight: bold;
    color: var(--palette-blue);
}

.chat-no-conversation-title {
    font-size: 24px;
    color: var(--palette-grey-2);
}

.chat-new-chat-button {
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: var(--palette-blue);
    border-radius: 8px;
    padding: 20px 80px;
}

.chat-new-chat-button:hover {
    background-color: var(--palette-blue-2);
}

.chat-message-container {
    border-top: solid 1px var(--palette-grey-2);
    padding-top: 12px;
    padding-bottom: 12px;
}

.chat-filter-button {
    font-weight: 500;
    font-size: 24px;
    color: var(--palette-blue);
}

.chat-filter-button:hover {
    color: var(--palette-blue-2);
}

.chat-end-chat-button {
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: var(--palette-blue);
    border-radius: 8px;
    padding: 12px 40px;
    justify-content: start;
}

.chat-current-user-message {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 20px 30px;
    background-color: var(--palette-blue);
    color: white;
    align-self: flex-end;
    margin-bottom: 10px;
}

.chat-other-user-message {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 20px 30px;
    background-color: var(--palette-grey);
    color: black;
    align-self: flex-start;
    margin-bottom: 10px;
}

.filter-option-header {
    font-size: 20px;
    font-weight: 500;
}

.filter-item-container {
    border-radius: 8px;
    border: solid 1px var(--palette-grey);
    padding: 10px 15px;
}

.filter-add-interest-button {
    background-color: var(--palette-blue);
    color: white;
    border-radius: 8px;
    padding: 10px 12px;
}

.filter-add-interest-button:hover {
    background-color: var(--palette-blue-2);
}

.chat-menu-name {
    font-weight: bold;
    font-size: 24px;
}

.chat-menu-item {
    font-weight: 500;
    font-size: 20px;
}